
           

body,html{
    overflow-x: hidden;
    font-family: 'Poppins', arial;

}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




:root{
    --h1: #130f49;
    --blue: #34A1CD;
    --dark-purple: #55527C;
    --grey:#B4B2C5;
    --pink: #EA4C89;
    --circle: #F4F3FF;
}
h1{
    font-size: 45px;
    font-weight: bold;
    color: var(--h1);

}

p{
    font-size: 16px;
    color:rgb(31, 29, 29);
   
}
a{
    text-decoration: none;
}



.container{
    width: 80%;
    margin: 60px auto;
}
.row{
    display: flex;
    justify-content: center;
}
.col{
    display: flex;
    justify-content: center;
}


.brand{
    display: inline;
    width: 70px;
  
    height: 30px;
   
}


li{
    list-style: none;
}

/* Navbar css */


.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px;
    justify-content: space-between;
    position: relative;
}
.navbar .navoptions ul,.socialicons ul{
    display: flex;
    color: black;
    
  
}
.contactpart .socialicons ul{
    display: flex;
    color: black;

}
.contactpart .socialicons ul li:hover{
 font-size: 20px;
    font-weight: bold;
    transform: scale(1.2); 

}
.navbar .navoptions ul li:hover{
    border-bottom: 2px solid #34A1CD;

}

.navoptions ul li,.socialicons ul li{
    margin: 0px 30px;
    
    font-size: 18px;
    cursor: pointer;
}
.logo{
    width: 70px;
    height: 30px;
}

.socialicons{
    display: flex;
   
   
}
.images{

    height: 20px;
    width: 20px;
   
}

/* header styling */

.header{
    margin-top: 0px;
    /* height: 100vh; */
    position: relative;
}

.header .col-1{
    flex-direction: column;
    width: 100%;
    text-align: center;
    /* line-height: 40px; */
    padding: 30px;
    
}
.header .col-2{
    width: 100%;
    text-align: center;
}
.highlight{
    color: #34A1CD;
}
.header .col-2 img{
    max-width: 80%;
    margin: 40px 20px;
    border-radius: 30px;
    text-align: center;
}

.header p{
    margin: 30px auto;
    text-align: center;
}
.header h1{
   margin-bottom: 20px;
}
.contact{
    width: 150px;
    padding: 8px 4px;
    background: var(--h1);
    color: whitesmoke;
    border-radius: 5px;
    

}
.contact-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

 .circle{
    width: 500px;
    height: 400px;
    background: rgb(199, 216, 226);
    top: -40%;
    right:-30%;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}
/* Css of skills part */

h3{color: var(--grey);
}
.title{
   text-align: center;
    margin-bottom: 60px;
    margin-top: 80px;
}
.grid-wrapper{
    

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, auto));
    grid-gap: 50px;
   

}
.icon-title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.icon-title img{
    margin-right: 20px;
   
    
}
.icon-title h2{
    font-size: 20px;
    color: var(--h1);
}
 .skills .gridbox:hover{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.185);
    border-radius: 20px;
   
}

/* portfolio Css part  */
.gridbox{

    padding: 30px;
    grid-gap: 20px;
}
.github{
    color:white;
    font-size: 20px;
}
.githubs{
    color: var(--blue);

}
.portfolio{
    margin-top: 150px;
    position: relative;
}
.portfolio .title{
    text-align: left;
}
.portfolio .title .ctn-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.projectimages{
   width: 400px;
   height: 200px;
}
.portfolio .grid-wrapper{
    grid-template-columns: repeat(auto-fit , minmax(300px, auto));
    grid-gap: 20px ;
}
.ctn-title h4{
    color: var(--dark-purple);
    cursor: pointer;
}
.portfolio .gridbox{
    position: relative;
}
.hover{
    position: absolute;
    top: 15%;
    left:15%;
    width: 15rem;
    height: 10rem;
    /* background: #34A1CD ; */
    background: rgb(140, 199, 236);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: whitesmoke;
    border-radius: 15px;
    transform: scaleX(0);
    transition: transform 0.5s ease;

}
.rect-bg{
    width: 600px;
    height:400px;
    background: #fff5f6;
    position: absolute;
    top:-10px;
    right: -20px;
    z-index: -1;
    border-radius: 20px;



}
.portfolio .gridbox:hover  .hover{
    transform: scaleX(1);
}
/* Contact Css */
.mail{
    width: 60px;
    margin-top: 18px;
    /* margin-right: 90px; */
}
.contactpart{
    margin-top: 170px;
}
.id .mail{
    display: block;
    float: left;
    margin-top: 40px;
}
.contactpart .container{
    text-align: center;
    background: rgb(201, 224, 238);
    border-radius: 20px;
    padding: 60px;
    margin-top: 80px;
}
.contactpart .container h3{
    margin: 20px 0px;
    color:rgb(31, 29, 29);

}
.contactpart .container .id{
    color:rgb(31, 29, 29);

}

.contactpart .quick-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contactpart .quick-links ul{
    display: flex;
}
.contactpart .quick-links ul li{
    margin: 0px 20px;
    color: var(--dark-purple);
    font-weight: bold;
    cursor: pointer
   
}




    


 /* Copyright section Css */
 .copyright p{
     color: var(--dark-purple);
     font-weight: bold;


 }



    




